<h4> Want to create a new project ?</h4>

<% labelled_tabular_form_for :project, @project, :url => { :action => "project_create" } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<div class="box">
  <%= submit_tag l(:button_create) %> 
  <%= link_to l(:button_next), {:controller => 'my', :action => 'user_guide', :tab => 'step_2'} %>
  <%= javascript_tag "Form.Element.focus('project_name');" %>
<% end %>
</div>

