<h4> Congratulations! Start with TeamHost now! </h4>

<div class="box">
<h5> You may </h5>
<%= link_to l(:go_home), {:controller => 'welcome', :action => 'index'}%>
<br />
<%= link_to l(:go_dashboard), {:controller => 'my', :action => 'page'} %>
<%#= link_to l(:dashboard) %>

<br />
<br />
</div>
